.grid {
  display: flex;
  background: orange;
  color: white;
  width: 52%;
  /* padding: calc(99vw/91) 0; */
  justify-content: space-evenly;
  padding: 20px 0px;
  background-image: url(http://musicments.com/img/d_default/wood-texture-seamless/wood-texture-seamless-wood-planks-5c7461f0c6316.jpg);
}

.cell {
  width: 20vw;
  height: 20vw;

  background-color: #00000010;
  color: black;

  /* border: 10px solid red; */
  /* outline: 10px solid green; */
  border: 5px solid transparent;
  outline: inset #ffffff66;


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(http://clipartmag.com/images/dog-silhouette-clip-art-35.png);
  opacity: 0.2;
}


.grid {
  display: flex;
  background: orange;
  color: white;
  width: 52%;
  /* padding: calc(99vw/91) 0; */
  justify-content: space-evenly;
  padding: 20px 0px;
  background-image: url(http://musicments.com/img/d_default/wood-texture-seamless/wood-texture-seamless-wood-planks-5c7461f0c6316.jpg);
  background-size: contain;
}

.cell {
  width: 20vw;
  height: 20vw;

  background-color: #00000010;

  color: black;

  /* border: 10px solid red; */
  /* outline: 10px solid green; */
  border: 5px solid transparent;
  outline: 5px inset #00000044;


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(http://clipartmag.com/images/dog-silhouette-clip-art-35.png); */
  /* opacity: 0.5; */
}


.grid {
  display: flex;
  color: white;
  width: 80vw;
  justify-content: space-evenly;
  padding: calc(0.04848484848*80vw) 0px;
  background-image: url(http://musicments.com/img/d_default/wood-texture-seamless/wood-texture-seamless-wood-planks-5c7461f0c6316.jpg);
  background-size: contain;
  background-color: red;

}

.cell {

  background-color: #00000010;

  color: black;

  /* border: 10px solid red; */
  /* outline: 10px solid green; */
  /* border: 5px solid transparent; */
  border: calc(0.01515151515*80vw) inset #00000044;


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(http://clipartmag.com/images/dog-silhouette-clip-art-35.png); */

}

.dog {
  width: calc(0.303030303*80vw);
  height: calc(0.303030303*80vw);
  border: calc(0.04848484848*80vw) solid transparent;
  opacity: 0.6;
}

.grid {
  display: flex;
  color: white;
  width: 80vw;
  justify-content: space-evenly;
  padding: calc(0.00808080808*80vw) 0px;
  background-image: url(http://musicments.com/img/d_default/wood-texture-seamless/wood-texture-seamless-wood-planks-5c7461f0c6316.jpg);
  background-size: contain;
  background-color: red;

}

.cell {

  background-color: #00000010;

  color: black;

  /* border: 10px solid red; */
  /* outline: 10px solid green; */
  /* border: 5px solid transparent; */
  border: calc(0.002525252525*80vw) inset #00000044;


  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(http://clipartmag.com/images/dog-silhouette-clip-art-35.png); */

}

.dog {
  width: calc(0.0505050505*80vw);
  height: calc(0.0505050505*80vw);
  border: calc(0.00808080808*80vw) solid transparent;
  opacity: 0.6;
}



.grid {
  display: flex;
  color: white;
  width: 200px;
  justify-content: space-evenly;
  padding: 20px 0px;
  background-image: url(http://musicments.com/img/d_default/wood-texture-seamless/wood-texture-seamless-wood-planks-5c7461f0c6316.jpg);
  background-size: contain;
  background-color: red;

}

.cell {

  background-color: #00000010;

  color: black;

  /* border: 10px solid red; */
  /* outline: 10px solid green; */
  /* border: 5px solid transparent; */
  border: 6px inset #00000044;
  /* background-image: url(http://clipartmag.com/images/dog-silhouette-clip-art-35.png); */

}

.dog {
  width: 100px;
  height: 100px;
  border: 20px solid transparent;
  opacity: 0.6;
  background-image: url(https://miro.medium.com/max/3072/1*WhDjw8GiV5o0flBXM4LXEw.png);
  background-size: cover;
  background-clip: content-box;
  background-position: 200px 0px;
}


#gallery {
display: flex;
justify-content: space-evenly;
width: 300px;
background-color: grey;
padding: 40px 0px;
}

.cell {
background-color: orange;
color: black;
border: 15px solid red;
}

.cell div {
width: 130px;
height: 130px;
border: 20px solid yellow;
background-size: cover;
background-clip: content-box;
}

#hat {
background-image: url(https://s3.amazonaws.com/papel.games/sq_sprite.png);
background-position: 0px 0px;

}
