body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to top, #6E2C00 48%, #fdbb2d 48%, #b21f1f 60%, #1a2a6c 70%);
}

.horse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(1620px / 6);
  height: 270px;
  background: url('horse.png');
  animation: animate-horse 0.5s steps(6) infinite;
}

.arm {
  
}


@keyframes animate-horse {
  0% { background-position: 0; }
  100% { background-position: -1620px; }
}
